body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

em#any-time-label {
  display: inline-block;
  width: 5ch;
  text-align: right;
  color: gray;
  font-style: italic;
  font-size: 0.8em;
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

label {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

time,
em {
  display: inline;
  margin-left: 0.5em;
}

#time-slider {
  width: 500px; /* or try 100%, or 20em, or any value you like */
}

#selected-time {
  display: inline-block;
  width: 4.5em; /* enough for '11:59 PM' */
  text-align: right;
}
